<div class="reproductor">
  <div class="reproductor-contenedor">
    <div class="video">
      <div class="video-reproductor">
        <video id="video" class="player" controls controlsList="nodownload" (contextmenu)="onRightClick()">
          <source src="" type="video/mp4">
        </video>
      </div>
      <div class="resumen">
        <ul>
          <li>
            <h5>DESCRIPCIÓ</h5>
          </li>
          <li>
            <h5>ACTIVITATS</h5>
          </li>
        </ul>
        <div class="descripcion">
          <h5>HOLA SOY LA DESCRIPCION</h5>
          <p>SOY UNA DESCRIPCION SUPER MOLONA</p>
        </div>
        <div class="actividades">

        </div>
      </div>
    </div>
    <div class="indice">
      <div class="unidades">
        <ul>
          <li>
            <h5>U. 1</h5>
          </li>
          <li>
            <h5>U. 2</h5>
          </li>
          <li>
            <h5>U. 3</h5>
          </li>
          <li>
            <h5>U. 4</h5>
          </li>
          <li>
            <h5>U. 5</h5>
          </li>
          <li>
            <h5>U. 6</h5>
          </li>
          <li>
            <h5>U. 7</h5>
          </li>
          <li>
            <h5>U. 8</h5>
          </li>
          <li>
            <h5>U. 9</h5>
          </li>
          <li>
            <h5>U. 10</h5>
          </li>
        </ul>
      </div>
      <div class="videos">
        <ul>
          <h3>UNITAT</h3>
          <li>
            <h5>Fonètica, Elocució i Ortografia 1</h5>
          </li>
          <li>
            <h5>Fonètica, Elocució i Ortografia 2</h5>
          </li>
          <li>
            <h5>Morfosintaxis 1</h5>
          </li>
          <li>
            <h5>Morfosintaxis 2</h5>
          </li>
          <li>
            <h5>Morfosintaxis 3</h5>
          </li>
          <li>
            <h5>Morfosintaxis 4</h5>
          </li>
          <li>
            <h5>Morfosintaxis 5</h5>
          </li>
          <li>
            <h5>Léxic i Semàntica</h5>
          </li>
          <li>
            <h5>Expressió i Interacció Escrites</h5>
          </li>
          <li>
            <h5>Expressió i Interacció Orals</h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
