<div class="reproductor">
  <div class="reproductor-contenedor">
    <div class="video">
      <div class="video-reproductor">
        <video id="video" class="player" controls controlsList="nodownload" (contextmenu)="onRightClick()">
          <source src="{{videoSrc[videoSrcNum]}}" type="video/mp4">
        </video>
      </div>
      <div class="resumen">
        <ul>
          <li>
            <h5>DESCRIPCIÓ</h5>
          </li>
        </ul>
        <div class="descripcion">
          <h5>{{ desc[descNum] }}</h5>
          <p>{{ resumen[resumenNum] }}</p>
        </div>
      </div>
    </div>
    <div class="indice">
      <div class="unidades">
        <ul>
          <li id="unidad1">
            <h5>U. 1</h5>
          </li>
          <li id="unidad2">
            <h5>U. 2</h5>
          </li>
          <li id="unidad3" class="disabled">
            <h5>U. 3</h5>
          </li>
          <li id="unidad4" class="disabled">
            <h5>U. 4</h5>
          </li>
          <li id="unidad5" class="disabled">
            <h5>U. 5</h5>
          </li>
          <li id="unidad6" class="disabled">
            <h5>U. 6</h5>
          </li>
          <li id="unidad7" class="disabled">
            <h5>U. 7</h5>
          </li>
          <li id="unidad8" class="disabled">
            <h5>U. 8</h5>
          </li>
          <li id="unidad9" class="disabled">
            <h5>U. 9</h5>
          </li>
          <li id="unidad0" class="disabled">
            <h5>U. 10</h5>
          </li>
        </ul>
      </div>
      <div class="videos">
        <ul>
          <h3>UNITAT {{ unidad[unidadNum] }}</h3>
          <li id="item1">
            <p>Fonètica, Elocució i Ortografia 1</p>
          </li>
          <li id="item2">
            <p>Fonètica, Elocució i Ortografia 2</p>
            <div id="dropfeou1" class="dropdown right">
              <ul>
                <li>
                  <a href="assets/ejercicios/U1_activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U1_fonetica_elocucio_ortografia.pdf" download="Activitats_FEO02.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item3">
            <p>Morfosintaxis 1</p>
          </li>
          <li id="item4">
            <p>Morfosintaxis 2</p>
          </li>
          <li id="item5">
            <p>Morfosintaxis 3</p>
          </li>
          <li id="item6">
            <p>Morfosintaxis 4</p>
          </li>
          <li id="item7">
            <p>Morfosintaxis 5</p>
            <div id="dropmorfu1" class="dropdown right">
              <ul>
                <li>
                  <a href="assets/ejercicios/U1_Activitats_Morfosintaxi.pdf" download="Activitats_Morfosintaxis.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U1_Morfosintaxi_alumnes.pdf" download="Teoria_Morfosintaxis.pdf">
                    <h5>TEORIA</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item8">
            <p>Léxic i Semàntica</p>
            <div id="droplisu1" class="dropdown right">
              <ul>
                <li>
                  <a href="assets/ejercicios/U1_Activitats_Lexic_Semantica.pdf" download="Activitats_Lexic_Semantica.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U1_Lexic_Habitatge.pdf" download="Teoria_Lexic01.pdf">
                    <h5>TEORIA</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U1_Lexic_Semantica.pdf" download="Teoria_Lexic02.pdf">
                    <h5>TEORIA</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item9">
            <p>Expressió i Interacció Escrites</p>
          </li>
          <li id="item10">
            <p>Expressió i Interacció Orals</p>
          </li>
          <li id="item11">
            <p>Fonètica, Elocució i Ortografia</p>
            <div id="dropfeou2" class="dropdown right">
              <ul>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_fonetica_elocucio_ortografia.pdf" download="Teoria_FEO.pdf">
                    <h5>TEORIA</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/solucionari_F_E_O.pdf" download="Solucionari_FEO.pdf">
                    <h5>SOLUCIONARI</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item12">
            <p>Morfosintaxis 1</p>
          </li>
          <li  id="item13">
            <p>Morfosintaxis 2</p>
          </li>
          <li id="item14">
            <p>Morfosintaxis 3</p>
            <div id="dropmorfu2" class="dropdown right">
              <ul>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_MORF01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Morfosintaxis.pdf" download="Teoria_MORF.pdf">
                    <h5>TEORIA</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/solucionari_morfosintaxi.pdf" download=Solucionari_MORF.pdf">
                    <h5>SOLUCIONARI</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!--
          <li id="item15">
            <p></p>
          </li>
          <li id="item16">
            <p>Morfosintaxis 4</p>
          </li>
          <li id="item17">
            <p>Morfosintaxis 5</p>
          </li>
          <li  id="item18">
            <p>Léxic i Semàntica</p>
          </li>
          <li  id="item19">
            <p>Expressió i Interacció Escrites</p>
          </li>
          <li  id="item20">
            <p>Expressió i Interacció Orals</p>
          </li>
          -->
        </ul>
      </div>
    </div>
  </div>
</div>
