<div class="profesores">
  <div class="profesores-contenedor">
    <h3>ADRIÁN GONZÁLEZ ROMERO</h3>
    <p>Mi nombre es Adrián y soy el director de esta academia además de profesor de diversas materias, aunque soy
      graduado em Historia por la Universidad de Valencia, universidad donde también cursé el Master de Profesor de
      Educación Secundaria por la especialidad de Geografía e Historia. Por otro lado, soy especialista en Historia
      Antigua ya que cursé el Master Interuniversitario de Historia y Ciencias de la Antigüedad en la Universidad
      Complutense de Madrid y la Autónoma de Madrid, donde inicié mis estudios del doctorado. Además, entre mi
      formación cabe destacar las diversas titulaciones de conocimientos lingüisticos, como C1 de Valenciano, conseguido
      con 16 años, o el C2, conseguido con 18, además de la posterior capacitación de Valenciano y el título de maestro
      de valenciano. También tengo ciertas nociones de inglés, como acreditan mis títulos de B2 por Cambridge y de C1 de
      Trinity, además de tener conocimientos de francés (B1) y de alemán (B1), y de otras lenguas, como egipcio
      jeroglífico.</p>
    <p>A pesar de mi formación en estudios de historia, mi vocación siempre ha sido enseñar, tarea que empecé a desarrollar
      desde muy pronto en otro centro. De hecho, la inicié en el año 2014, antes de finalizar el grado. Mi tarea
      docente siempre ha sido la de ayudar a personas que tenían dificultades con los estudios, especialmente en
      materias de lengua, historia o geografía, aunque también impartía docencia de otras materias como filosofía,
      historia del arte, latín, griego o inglés.</p>
    <p>No obstante, muy pronto inicié los cursos de preparación para las pruebas de certificación de conocimientos de
      valenciano, los cuales cada vez han ido teniendo mayor trascendencia, de entre los cuales destaca el curso que
      impartí para el personal funcionario del Ayuntamiento de Meliana en 2018. Además, dentro de esta tarea como
      docente de valenciano he realizado otras tareas vinculadas a la corrección y traducción de textos para el Instituto
      Municipal de Cultura de Meliana, como la del libro Entre la disciplina y la doctrina. La educación durante el
      primer franquismo en Meliana: una mirada sociológica, de Fàtima Navarro Falomir, o el catálogo de reciente
      publicación "Colps" de Carles Gil. Es por eso que, de nuevo, vuelvo a impartir clases de valenciano para el
      Ayuntamiento de Meliana, en este caso para los alumnos de la Escuela de Personas Adultas.
      Por otro lado, la multidisciplinariedad que ha marcado mi tarea docente desde bien pronto me ha permitido, además,
      impartir cursos de preparación para la obtención de los títulos de Graduado en ESO y de Bachillerato, además de
      preparar a mis alumnos para la superación de las Pruebas de Acceso, tanto a Ciclos Formativos de Grado Medio y
      Superior como a la universidad, ya fuera en la convocatoria ordinaria, ya fuera en la *vesant extraordinaria para mayores
      de 25 y de 45 años.</p>
    <p>Mi trayectoria, como véis, está llena de cierta experiencia, con éxitos pero también con trabas y tropiezos
      que, en todo caso, me han servido para aprender y mejorar de mis alumnos y de las situaciones vividas, un
      aprendizaje que he ido incorporando a mi manera de enseñar y de relacionarme con mis alumnos y que ahora pongo en
      práctica para llevarlos al éxito y a la consecución de sus objetivos.</p>
  </div>
</div>
