<div class="main">
  <div class="main-contenedor">
    <div class="slider">
      <app-slider></app-slider>
    </div>
    <div class="conectividad">
      <div class="conectividad-texto">
        <h1>APRENDE</h1>
        <h3>CUÁNDO Y DÓNDE QUIERAS</h3>
      </div>
      <div class="conectividad-imagen">
        <img src="../../../assets/img/everywhere.png">
      </div>
    </div>
    <div class="ventajas">
      <h1>VENTAJAS DE ESTUDIAR CON NOSOTROS</h1>
      <div class="ventajas-contenedor">
        <div class="ventaja">
          <i class="fas fa-clock ventaja-icon"></i>
          <div class="ventaja-texto">
            <h5>VE A TU RITMO</h5>
            <p>Disfruta de acceso las 24h</p>
          </div>
        </div>
        <div class="ventaja">
          <i class="fas fa-chalkboard-teacher ventaja-icon"></i>
          <div class="ventaja-texto">
            <h5>APRENDE DE EXPERTOS</h5>
            <p>Videos producidos por expertos en el sector</p>
          </div>
        </div>
        <div class="ventaja">
          <i class="fas fa-comments ventaja-icon"></i>
          <div class="ventaja-texto">
            <h5>CHAT EN VIVO</h5>
            <p>Chat online con el profesor</p>
          </div>
        </div>
        <div class="ventaja">
          <i class="fas fa-archive ventaja-icon"></i>
          <div class="ventaja-texto">
            <h5>PRUEBAS</h5>
            <p>Actividades y exámenes durante el curso</p>
          </div>
        </div>
        <div class="ventaja">
          <i class="fas fa-flag ventaja-icon"></i>
          <div class="ventaja-texto">
            <h5>IDIOMAS</h5>
            <p>Página bilingüe</p>
          </div>
        </div>
        <div class="ventaja">
          <i class="fas fa-comment-alt ventaja-icon"></i>
          <div class="ventaja-texto">
            <h5>FORO</h5>
            <p>Foro por y para los estudiantes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="apuntate">
      <h1>¡NO PIERDAS MÁS TIMEPO E INSCRÍBETE!</h1>
      <div class="apuntate-texto">
        <h5>PUEDES CONTACTAR CON NOSOTROS A TRAVÉS DE LA PÁGINA WEB, POR CORREO ELECTRÓNICO O VÍA TELÉFONO</h5>
      </div>
      <div class="apuntate-contacto">
        <a routerLink="/estudia-con-nosotros">
          <p>Estudia con nosotros</p>
        </a>
        <a routerLink="/contacto">
          <p>Contacto</p>
        </a>
        <p>Teléfono: 697356095</p>
        <p>Correo electrónico: contacto@arrovacademia.es</p>
      </div>
    </div>
    <div class="empresas">
      <div class="empresas-texto">
        <h1>EMPRESAS Y ORGANIZACIONES</h1>
        <h3>QUE CONFÍAN EN NOSOTROS</h3>
      </div>
      <div class="empresas-imagen">
        <img class="image" src="../../../assets/img/meliana.png">
      </div>
    </div>
  </div>
</div>
