<div class="contenedor-container">
  <div class="breadcumb">
    <a routerLink="/cursos">
      <p>Cursos</p>
    </a>
    <p class="separator">/</p>
    <p>Valenciano</p>
  </div>
  <div class="contenedor-enlace">
    <a routerLink="/cursos/valenciano/a2" class="disabled">
      <h3>VALENCIANO A2</h3>
      <p>PRÓXIMAMENTE DISPONIBLE</p>
    </a>
    <a routerLink="/cursos/valenciano/b1" class="disabled">
      <h3>VALENCIANO B1</h3>
      <p>PRÓXIMAMENTE DISPONIBLE</p>
    </a>
    <a routerLink="/cursos/valenciano/b2" class="disabled">
      <h3>VALENCIANO B2</h3>
      <p>PRÓXIMAMENTE DISPONIBLE</p>
    </a>
    <a routerLink="/cursos/valenciano/c1">
      <h3>VALENCIANO C1</h3>
    </a>
    <a routerLink="/cursos/valenciano/c2">
      <h3>VALENCIANO C2</h3>
    </a>
    <a routerLink="/cursos/valenciano/intensivos">
      <h3>INTENSIVOS</h3>
    </a>
  </div>
</div>
