@import "src/app/styles/index.scss";

.contenedor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include laptop {
    width: 60rem;
  }
  @include tablet {
    width: 48rem;
  }
  @include mobileL {
    width: 25rem;
  }
  @include mobileM {
    width: 22rem;
  }
  @include mobileS {
    width: 20rem;
  }
}

.contenedor-enlace {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70rem;

  @include laptop {
    width: 50rem;
  }
  @include tablet {
    width: 40rem;
  }
  @include mobileL {
    width: 18rem;
  }
  @include mobileM {
    width: 22rem;
  }
  @include mobileS {
    width: 19rem;
  }

  a {
    text-decoration: none;
    width: 20rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background: $components-dark;
    margin: 1rem;

    @include tablet {
      width: 17rem;
      height: 12rem;
    }

    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
      background: transparentize($color: $components-dark, $amount: 0.3);
    }

    &:hover {
      h3,
      p {
        color: $text-color-hover;
      }
    }
  }
}
