<div class="contenedor-container">
  <h3 class="p4">
    {{privacidad}}
  </h3>
  <p class="p2">
    {{desc1_1}}
  </p>
  <p class="p2">
    {{desc1_2}}
  </p>
  <p class="p2">
    {{desc1_3}}
  </p>
  <p class="subtitle p4">
    {{informacion_usuario}}
  </p>
  <p class="p2">
    {{desc2_1}}
  </p>
  <p class="subtitle p4">
    {{menores_edad}}
  </p>
  <p class="p2">
    {{desc3_1}}
  </p>
  <p class="p2">
    {{desc3_2}}
  </p>
  <p class="p2">
    {{desc3_3}}
  </p>
  <p class="p2">
    {{desc3_4}}
  </p>
  <p class="subtitle p4">
    {{principios_importantes}}
  </p>
  <p class="p2">
    {{desc4_1}}
  </p>
  <p class="p2">
    {{desc4_2}}
  </p>
  <p class="p2">
    {{desc4_3}}
  </p>
  <p class="p2">
    {{desc4_4}}
  </p>
  <p class="p2">
    {{desc4_5}}
  </p>
  <p class="subtitle p4">
    {{regulaciones}}
  </p>
  <p class="p2">
    {{desc5_1}}
  </p>
  <p class="subtitle p4">
    {{responsable}}
  </p>
  <p class="p2">
    {{desc6_1}}
  </p>
  <p class="p2">
    {{desc6_2}}
  </p>
  <p class="p2">
    {{desc6_3}}
  </p>
  <p class="p2">
    {{desc6_4}}
  </p>
  <p class="p2">
    {{desc6_5}}
  </p>
  <p class="p2">
    {{desc6_6}}
  </p>
  <p class="p2">
    {{desc6_7}}
  </p>
  <p class="p2">
    {{desc6_8}}
  </p>
  <p class="p2">
    {{desc6_9}}
  </p>
  <p class="subtitle p4">
    {{caracter_obligatorio}}
  </p>
  <p class="p2">
    {{desc7_1}}
  </p>
  <p class="p2">
    {{desc7_2}}
  </p>
  <p class="p2">
    {{desc7_3}}
  </p>
  <p class="p2">
    {{desc7_4}}
  </p>
  <p class="subtitle p4">
    {{obtencion_datos}}
  </p>
  <p class="p2">
    {{desc8_1}}
  </p>
  <p class="p2">
    {{desc8_2}}
  </p>
  <p class="p2">
    {{desc8_3}}
  </p>
  <p class="subtitle p4">
    {{finalidad}}
  </p>
  <p class="p2">
    {{desc9_1}}
  </p>
  <p class="p2">
    {{desc9_2}}
  </p>
  <p class="p2">
    {{desc9_3}}
  </p>
  <p class="p4">
    {{desc9_4}}
  </p>
  <p class="p4">
    {{desc9_5}}
  </p>
  <p class="p2">
    {{desc9_6}}
  </p>
  <p class="p2">
    {{desc9_7}}
  </p>
  <p class="p2">
    {{desc9_8}}
  </p>
  <p class="p2">
    {{desc9_9}}
  </p>
  <p class="p2">
    {{desc9_10}}
  </p>
  <p class="p2">
    {{desc9_11}}
  </p>
  <p class="p4">
    {{desc9_12}}
  </p>
  <p class="p2">
    {{desc9_13}}
  </p>
  <p class="p2">
    {{desc9_14}}
  </p>
  <p class="p2">
    {{desc9_15}}
  </p>
  <p class="p2">
    {{desc9_16}}
  </p>
  <p class="p2">
    {{desc9_17}}
  </p>
  <p class="p2">
    {{desc9_18}}
  </p>
  <p class="p2">
    {{desc9_19}}
  </p>
  <p class="p2">
    {{desc9_20}}
  </p>
  <p class="p2">
    {{desc9_21}}
  </p>
  <p class="p2">
    {{desc9_22}}
  </p>
  <p class="p2">
    {{desc9_23}}
  </p>
  <p class="subtitle p4">
    {{legitimacion}}
  </p>
  <p class="p2">
    {{desc10_1}}
  </p>
  <p class="p2">
    {{desc10_2}}
  </p>
  <p class="p2">
    {{desc10_3}}
  </p>
  <p class="p2">
    {{desc10_4}}
  </p>
  <p class="subtitle p4">
    {{conservacion_datos}}
  </p>
  <p class="p2">
    {{desc11_1}}
  </p>
  <p class="p2">
    {{desc11_2}}
  </p>
  <p class="p2">
    {{desc11_3}}
  </p>
  <p class="p2">
    {{desc11_4}}
  </p>
  <p class="subtitle p4">
    {{cesion_datos}}
  </p>
  <p class="p2">
    {{desc12_1}}
  </p>
  <p class="p2">
    {{desc12_2}}
  </p>
  <p class="p2">
    {{desc12_3}}
  </p>
  <p class="p2">
    {{desc12_4}}
  </p>
  <p class="p2">
    {{desc12_5}}
  </p>
  <p class="p2">
    {{desc12_6}}
  </p>
  <p class="p2">
    {{desc12_7}}
  </p>
  <p class="p2">
    {{desc12_8}}
  </p>
  <p class="p2">
    {{desc12_9}}
  </p>
  <p class="p2">
    {{desc12_10}}
  </p>
  <p class="p2">
    {{desc12_11}}
  </p>
  <p class="p2">
    {{desc12_12}}
  </p>
  <p class="p2">
    {{desc12_13}}
  </p>
  <p class="p2">
    {{desc12_14}}
  </p>
  <p class="p2">
    {{desc12_15}}
  </p>
  <p class="p2">
    {{desc12_16}}
  </p>
  <p class="p2">
    {{desc12_17}}
  </p>
  <p class="p2">
    {{desc12_18}}
  </p>
  <p class="p2">
    {{desc12_19}}
  </p>
  <p class="p2">
    {{desc12_20}}
  </p>
  <p class="p2">
    {{desc12_21}}
  </p>
  <p class="p2">
    {{desc12_22}}
  </p>
  <p class="subtitle p4">
    {{datos_navegacion}}
  </p>
  <p class="p2">
    {{desc13_1}}
  </p>
  <p class="p2">
    {{desc13_2}}
  </p>
  <p class="p2">
    {{desc13_3}}
  </p>
  <p class="p2">
    {{desc13_4}}
  </p>
  <p class="subtitle p4">
    {{derechos_usuario}}
  </p>
  <p class="p2">
    {{desc14_1}}
  </p>
  <p class="p2">
    {{desc14_2}}
  </p>
  <p class="p2">
    {{desc14_3}}
  </p>
  <p class="p2">
    {{desc14_4}}
  </p>
  <p class="p2">
    {{desc14_5}}
  </p>
  <p class="p2">
    {{desc14_6}}
  </p>
  <p class="p2">
    {{desc14_7}}
  </p>
  <p class="p2">
    {{desc14_8}}
  </p>
  <p class="p2">
    {{desc14_9}}
  </p>
  <p class="p2">
    {{desc14_10}}
  </p>
  <p class="p2">
    {{desc14_11}}
  </p>
  <p class="p2">
    {{desc14_12}}
  </p>
  <p class="p2">
    {{desc14_13}}
  </p>
  <p class="subtitle p4">
    {{secreto}}
  </p>
  <p class="p2">
    {{desc15_1}}
  </p>
  <p class="p2">
    {{desc15_2}}
  </p>
  <p class="p2">
    {{desc15_3}}
  </p>
  <p class="p2">
    {{desc15_4}}
  </p>
  <p class="subtitle p4">
    {{exactitud_vericidad}}
  </p>
  <p class="p2">
    {{desc16_1}}
  </p>
  <p class="p2">
    {{desc16_2}}
  </p>
  <p class="subtitle p4">
    {{aceptacion_consentimiento}}
  </p>
  <p class="p2">
    {{desc17_1}}
  </p>
  <p class="subtitle p4">
    {{correos_comerciales}}
  </p>
  <p class="p2">
    {{desc18_1}}
  </p>
  <p class="p2">
    {{desc18_2}}
  </p>
  <p class="p2">
    {{desc18_3}}
  </p>
  <p class="p2">
    {{desc18_4}}
  </p>
  <p class="subtitle p4">
    {{cambios_politica}}
  </p>
  <p class="p2">
    {{desc19_1}}
  </p>
  <p class="p2">
    {{desc19_2}}
  </p>
  <p class="p2">
    {{desc19_3}}
  </p>
  <p class="p2">
    {{desc19_4}}
  </p>
  <p class="p2">
    {{desc19_5}}
  </p>
</div>
