<div class="estudia">
  <div class="estudia-contenedor">
    <div class="header">
      <div class="header-titulo">
        <h1>BIENVENIDO A NUESTROS CURSOS</h1>
        <h3>¿QUÉ VAS A ESTUDIAR?</h3>
      </div>
      <div class="header-texto">
        <p>!Selecciona el curso que desees, rellena la matrícula y empieza a estudiar¡</p>
      </div>
    </div>
    <div class="cursos">
      <div class="cursos-contenedor">
        <div class="curso">
          <a routerLink="/cursos/valenciano">
            <div class="curso-texto">
              <h5>CURSOS DE VALENCIANO</h5>
              <p>Empieza a prepararte cualquier titulación de la junta cualificadora.</p>
            </div>
            <div class="curso-imagen">
              <img src="../../../../assets/img/valenciano.png">
            </div>
          </a>
        </div>
        <div class="curso">
          <a class="disabled" routerLink="/cursos/accesos">
            <div class="curso-texto">
              <h5>CURSOS DE ACCESOS</h5>
              <p>Empieza a prepararte los accesos tanto a los ciclos formativos como a la universidad.</p>
              <p class="frase-importante">PRÓXIMAMENTE DISPONIBLE</p>
            </div>
            <div class="curso-imagen">
              <img src="../../../../assets/img/accesos.png">
            </div>
          </a>
        </div>
        <div class="curso">
          <a class="disabled" routerLink="/cursos/titulaciones">
            <div class="curso-texto">
              <h5>CURSOS DE TITULACIONES</h5>
              <p>Empieza a prepararte los examenes la ESO o el Bachillerato.</p>
              <p class="frase-importante">PRÓXIMAMENTE DISPONIBLE</p>
            </div>
            <div class="curso-imagen">
              <img src="../../../../assets/img/titulaciones.png">
            </div>
          </a>
        </div>
        <div class="curso">
          <a class="disabled" routerLink="/cursos/refuerzos">
            <div class="curso-texto">
              <h5>REFUERZOS</h5>
              <p>Por si necesitas refuerzos en alguna asignatura.</p>
              <p class="frase-importante">PRÓXIMAMENTE DISPONIBLE</p>
            </div>
            <div class="curso-imagen">
              <img src="../../../../assets/img/titulaciones.png">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
