<div class="uni">
  <div class="breadcumb">
    <a routerLink="/estudia-con-nosotros">
      <p>Estudia con nosotros</p>
    </a>
    <p class="separator"> > </p>
    <a routerLink="/estudia-con-nosotros/refuerzos">
      <p>Refuerzos</p>
    </a>
    <p class="separator"> > </p>
    <p>Universidad</p>
  </div>
  <div class="formulario">
    <form #uniForm="ngForm" (ngSubmit)="insert()">
      <a id="parte1" class="formulario-parte">
        <h5>REFUERZO UNIVERSIDAD</h5>
      </a>
      <div id="contenedor1" class="formulario-contenedor active">
        <div class="form">
          <div class="form-tb">
            <textarea name="comentuni" #comentuni="ngModel" [(ngModel)]="ecnUniversidad.comentario1"
                      cols="30" rows="7"></textarea>
          </div>
        </div>
        <div class="siguiente">
          <div class="botonera">
            <button type="button" class="boton" (click)="irParte2()">
              <h5>SIGUIENTE</h5>
            </button>
          </div>
          <p>Comunica las matérias en las que necesitas refuerzo</p>
        </div>
      </div>
      <a id="parte2" class="formulario-parte">
        <h5>CONFIRMAR FORMULARIO</h5>
      </a>
      <div id="contenedor2" class="formulario-contenedor">
        <div class="completado">
          <input class="input-email" type="text" placeholder="Introduce aquí tu email" name="email"
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required #email="ngModel"
                 [(ngModel)]="ecnUniversidad.email"/>
          <label class="terminos" for="terminos">
            <p>HAZ CLICK PARA LEER Y ACEPTAR LOS TERMINOS</p>
            <input id="cb" class="checkbox mt2" type="checkbox" name="terminos" #terminos="ngModel"
                   [(ngModel)]="ecnUniversidad.terminos" required/>
          </label>
        </div>
        <div class="siguiente">
          <div class="botonera">
            <button type="button" class="boton" (click)="irParte1()">
              <h5>VOLVER</h5>
            </button>
            <button type="submit" class="boton m2" [disabled]="ecnUniversidad.invalid">
              <h5>ENVIAR</h5>
            </button>
          </div>
          <p>El formulario será revisado por nuestro profesorado.</p>
          <p>Recibirás un correo con la respuesta.</p>
        </div>
      </div>
    </form>
  </div>
  <app-modal-terminos></app-modal-terminos>
</div>
