<div class="estudia">
  <div class="estudia-contenedor">
    <div class="breadcumb">
      <a routerLink="/estudia-con-nosotros">
        <p>Estudia con nosotros</p>
      </a>
      <p class="separator"> > </p>
        <p>Refuerzos</p>
    </div>
    <div class="cursos">
      <div class="cursos-contenedor">
        <div class="curso">
          <a routerLink="/estudia-con-nosotros/refuerzos/eso">
            <div class="curso-texto">
              <h5>ESTUDIA CON NOSOTROS ESO</h5>
              <p>Seleccione ESO para prepararte para los examenes.</p>
            </div>
            <div class="curso-imagen">
              <img src="../../../../assets/img/valenciano.png">
            </div>
          </a>
        </div>
        <div class="curso">
          <a routerLink="/estudia-con-nosotros/refuerzos/bachillerato">
            <div class="curso-texto">
              <h5>ESTUDIA CON NOSOTROS BACHILLERATO</h5>
              <p>Seleccione Bachillerato para prepararte para los examenes.</p>
            </div>
            <div class="curso-imagen">
              <img src="../../../../assets/img/accesos.png">
            </div>
          </a>
        </div>
        <div class="curso">
          <a routerLink="/estudia-con-nosotros/refuerzos/universidad">
            <div class="curso-texto">
              <h5>ESTUDIA CON NOSOTROS UNIVERSIDAD</h5>
              <p>Seleccione Universidad para prepararte para la carrera.</p>
            </div>
            <div class="curso-imagen">
              <img src="../../../../assets/img/titulaciones.png">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
