<div class="matricula">
  <div class="matricula-contenedor">
    <!--(ngSubmit)="enviarMatricula()"-->
    <form class="formulario-contenedor" #matriculaForm="ngForm">
      <div class="input-contenedor">
        <p class="frase-importante">Nombre del curso:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="matricula.nombre" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Tipo de pago:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="text" name="tipo" #tipo="ngModel" [(ngModel)]="matricula.precio" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Cantidad:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="text" name="cantidad" #cantidad="ngModel" [(ngModel)]="matricula.cantidad" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Dirección:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="text" name="direccion" #direccion="ngModel" [(ngModel)]="matricula.direccion" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Población:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="text" name="poblacion" #poblacion="ngModel" [(ngModel)]="matricula.poblacion" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Provincia:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="text" name="provincia" #provincia="ngModel" [(ngModel)]="matricula.provincia" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Código Postal:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="text" name="cp" #cp="ngModel" [(ngModel)]="matricula.codigoPostal" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Teléfono:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="text" name="telefono" #telefono="ngModel" [(ngModel)]="matricula.telefono" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Método de Pago:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="text" name="metodo" #metodo="ngModel" [(ngModel)]="matricula.metodoPago" required>
        </div>
      </div>
      <label class="terminos" for="terminos">
        <p>HAZ CLICK PARA LEER Y ACEPTAR LOS TERMINOS</p>
        <input id="cb" class="checkbox mt2" type="checkbox" name="terminos" #terminos="ngModel"
               [(ngModel)]="matricula.proteccionDatos" required/>
      </label>
      <button type="submit" class="boton m2" [disabled]="matriculaForm.invalid">
        <h5>ENVIAR</h5>
      </button>
    </form>
  </div>
</div>
