<!--<div class="matricula">
  <div class="matricula-contenedor">
    <form class="formulario-contenedor" #matriculaForm="ngForm" (ngSubmit)="enviarMatricula()">
      <div class="input-contenedor">
        <p class="frase-importante">Nombre del curso:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="date" name="birth" #birth="ngModel" [(ngModel)]="matricula.fechaNacimiento" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Tipo de pago:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="date" name="birth" #birth="ngModel" [(ngModel)]="matricula.fechaNacimiento" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Cantidad:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="date" name="birth" #birth="ngModel" [(ngModel)]="matricula.fechaNacimiento" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Dirección:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="date" name="birth" #birth="ngModel" [(ngModel)]="matricula.fechaNacimiento" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Población:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="date" name="birth" #birth="ngModel" [(ngModel)]="matricula.fechaNacimiento" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Provincia:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="date" name="birth" #birth="ngModel" [(ngModel)]="matricula.fechaNacimiento" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Código Postal:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="date" name="birth" #birth="ngModel" [(ngModel)]="matricula.fechaNacimiento" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Teléfono:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="date" name="birth" #birth="ngModel" [(ngModel)]="matricula.fechaNacimiento" required>
        </div>
      </div>
      <div class="input-contenedor">
        <p class="frase-importante">Método de Pago:</p>
        <div class="input">
          <i class="fas fa-calendar-alt input-icon"></i>
          <input type="date" name="birth" #birth="ngModel" [(ngModel)]="matricula.fechaNacimiento" required>
        </div>
      </div>
    </form>
  </div>
</div>-->
