<div class="intensivo">
  <div class="intensivo-contenedor">
    <div class="curso disabled">
      <a>
        <div class="curso-texto">
          <h5>CURSO INTENSIVO VALENCIANO C1 JQVC</h5>
          <p class="frase-importante">CURSO EN PROCESO</p>
        </div>
      </a>
    </div>
    <div class="curso">
      <a routerLink="/cursos/valenciano/intensivos/curso-intensivo">
        <div class="curso-texto">
          <h5>CURSO INTENSIVO VALENCIANO C1 CIEAcova</h5>
          <p class="frase-importante">PROCESO DE MATRICULACIÓN</p>
        </div>
      </a>
    </div>
  </div>
</div>
