<div class="header">
  <div class="header-contenedor">
    <div class="header-contenedor-izquierda">
      <div class="logo">
        <img routerLink="/" src="assets/img/logo.png">
      </div>
      <div class="busqueda">
        <button id="search" class="boton" (click)="goSearch()">
          <i class="fas fa-search boton-icon"></i>
          <p class="parrafo boton-text">BUSCAR</p>
        </button>
      </div>
      <div class="menu">
        <button id="menu" class="boton" (click)="goMenu()">
          <i class="fas fa-bars boton-icon"></i>
          <p class="parrafo boton-text">MENÚ</p>
        </button>
      </div>
    </div>
    <div class="header-contenedor-medio">
      <div class="menu">
        <ul class="menu-navegador">
          <li class="menu-navegador-elemento">
            <h5 class="elemento-titulo">ESTUDIA CON NOSOTROS</h5>
          </li>
          <li class="menu-navegador-elemento">
            <h5 class="elemento-titulo">CURSOS</h5>
          </li>
          <li class="menu-navegador-elemento">
            <h5 class="elemento-titulo">CONTACTO</h5>
          </li>
          <li class="menu-navegador-elemento">
            <h5 class="elemento-titulo">NOSOTROS</h5>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-contenedor-derecha">
      <div class="botonera">
        <button class="boton">
          <i class="fas fa-flag boton-icon"></i>
          <p class="parrafo boton-text">IDIOMA</p>
        </button>
        <button class="boton">
          <i class="fas fa-user boton-icon"></i>
          <p class="parrafo boton-text">LOGIN</p>
        </button>
      </div>
    </div>
  </div>
</div>
