@import "src/app/styles/index.scss";

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 5rem;
  background: $components-dark;

  &-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 90%;

    &-izquierda {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 15rem;
      min-width: 15rem;
      height: 100%;

      .logo {
        img {
          width: 11rem;
          min-width: 8rem;
          height: 4.5rem;
          min-height: 3.5rem;
          cursor: pointer;
        }
      }

      .busqueda,
      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }

    &-medio {
      display: flex;
      align-items: center;
      width: 45em;
      height: 100%;

      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        &-navegador {
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style: none;
          width: 100%;

          &-elemento {
            padding: 1rem;
            cursor: pointer;

            .elemento-titulo {
              transition: 0.3s;
            }

            &:hover {
              .elemento-titulo {
                color: $text-color-hover;
              }
            }
          }
        }
      }

      .buscador {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }

    &-derecha {
      display: flex;
      align-items: center;
      width: 6rem;
      min-width: 6rem;
      height: 100%;

      .botonera {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
