<div class="header">
  <div class="header-contenedor">
    <div class="header-contenedor-izquierda">
      <div class="logo">
        <img routerLink="/" src="assets/img/logo.png">
      </div>
      <div class="busqueda">
        <button class="boton dnone">
          <i class="fas fa-search boton-icon"></i>
          <p class="boton-text">Buscar</p>
        </button>
      </div>
      <div class="menu">
        <button class="boton">
          <i class="fas fa-bars boton-icon"></i>
          <p class="boton-text">Menú</p>
        </button>
      </div>
    </div>
  </div>
</div>
