<div class="estudia">
  <div class="estudia-contenedor">
    <div class="header">
      <div class="header-titulo">
        <h1>BIENVENIDO A ESTUDIA CON NOSOTROS</h1>
        <h3>¿SABES LO QUE TE GUSTARÍA ESTUDIAR?</h3>
      </div>
      <div class="header-texto">
        <p>EN ESTA SECCIÓN PODEMOS ACONSEJARTE SI AÚN NO TIENES CLARO QUÉ QUIERES ESTUDIAR O SI BIEN SABES LO QUE QUIERES ESTUDIAR, GUIARTE PARA PODER HACERLO CON NOSOTROS</p>
        <p>Selecciona que quieres estudiar, rellena el formulario y nuestro profesorado se pondra en contacto contigo para guiarte en tu futuro</p>
      </div>
    </div>
    <div class="cursos">
      <div class="cursos-contenedor">
        <div class="curso">
          <a routerLink="/estudia-con-nosotros/valenciano">
            <div class="curso-texto">
              <h5>ESTUDIA CON NOSOTROS VALENCIANO</h5>
              <p>Seleccione valenciano para prepararte cualquier titulación de la junta cualificadora.</p>
            </div>
            <div class="curso-imagen">
              <img src="../../../../assets/img/valenciano.png">
            </div>
          </a>
        </div>
        <div class="curso">
          <a routerLink="/estudia-con-nosotros/accesos">
            <div class="curso-texto">
              <h5>ESTUDIA CON NOSOTROS ACCESOS</h5>
              <p>Seleccione accesos para prepararte los accesos tanto a los ciclos formativos como a la universidad.</p>
            </div>
            <div class="curso-imagen">
              <img src="../../../../assets/img/accesos.png">
            </div>
          </a>
        </div>
        <div class="curso">
          <a routerLink="/estudia-con-nosotros/titulaciones">
            <div class="curso-texto">
              <h5>ESTUDIA CON NOSOTROS TITULACIONES</h5>
              <p>Seleccione titulaciones para prepararte la ESO o el Bachillerato.</p>
            </div>
            <div class="curso-imagen">
              <img src="../../../../assets/img/titulaciones.png">
            </div>
          </a>
        </div>
        <div class="curso">
          <a routerLink="/estudia-con-nosotros/refuerzos">
            <div class="curso-texto">
              <h5>ESTUDIA CON NOSOTROS REFUERZOS</h5>
              <p>Seleccione refuerzos para que nuestro profesorado te ayude con las máterias o cursos.</p>
            </div>
            <div class="curso-imagen">
              <img src="../../../../assets/img/titulaciones.png">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
