<div class="noticias">
  <div class="noticias-contenedor">
    <div class="noticia">
      <h5>Arrova Acadèmia</h5>
      <img src="assets/img/slider1.png"/>
      <p>
        Arrova Acadèmia somos un centro de formación en línea vinculado
        principalmente a la docencia de cursos de valenciano para la preparación
        de las pruebas de certificación de las tres entidades
        acreditadoras/certificadoras: JQCV, CIEAcova y EOI. Nuestros cursos
        tienen una duración aproximada de 9 meses, a lo largo de los cuales
        nuestros alumnos pueden lograr el nivel deseado a través de nuestra
        plataforma web, donde encontraréis todo tipo de materiales para vuestra
        formación: vídeos explicativos, material teórico, ejercicios de
        refuerzo, actividades de comprensión lectora, de expresión y mediación
        tanto escrita como oral, además de realizar prácticas de examen. Nuestra
        plataforma es accesible desde todas partes/desde cualquier dispositivo,
        de forma que sois vosotros quienes marcáis el ritmo de estudio y de
        trabajo, pero siempre bajo la supervisión de nuestro equipo docente.
      </p>
    </div>
    <div class="noticia">
      <h5>Curso Valenciano Semiintensivo B1, C1, C2</h5>
      <img src="assets/img/slider6.png"/>
      <p>
        Arroba Academia lanza una nueva oferta de cursos semi intensivos para el periodo comprendido entre los meses de
        enero y de junio de 2021. En este caso habrá curso tanto de B1 como de C1 y de C2. Los tres cursos constan de
        dos vertientes de trabajo diferentes. Por un lado hay las clases semi presenciales, que realizamos siempre a
        través de videoconferencia, en que se trabajarán principalmente los aspectos relativos a la morfosintaxi y el
        léxico y la semántica. Las clases se hacen en el siguiente horario: el curso semi intensivo de B1 tiene la
        docencia los martes, bien por la mañana, de 9:00 a 11:00, bien por la tarde, de 19:00 a 21:00 horas. El curso
        semi intensivo de C1 hace las clases los miércoles, también de 9:00 a 11:00 o de 19:00 a 21:00 horas. Por
        último,
        el curso de C2 tendrá clase los jueves, de 9:00 a 11:00 o de 19:00 a 21:00 horas. Sin embargo, siempre tenéis la
        opción del horario flexible que os permite alternar la docencia a los mates y por las tardes. Por otro lado hay
        el bloque de trabajo que se hace a partir de nuestra plataforma, donde encontraréis toda una serie de materiales
        complementarios y de refuerzo a la formación para preparar las diferentes destrezas que se posan en práctica al
        examen.
      </p>
      <a routerLink="/cursos/valenciano/intensivos/curso-intensivo">
        <p>Ir al curso</p>
      </a>
    </div>
    <div class="noticia">
      <h5>Curso Valenciano C1</h5>
      <img src="assets/img/slider3.png"/>
      <p>
        El Curso de Suficiencia está dirigido al candidato que desea lograr el
        nivel C1 de valenciano a medio-largo plazo, bien porque considera que no
        lo tiene, bien porque no puede asumir un ritmo de trabajo mayor, tanto
        si quiere certificar a través de la JQCV como de CIEAcova o de la EOI. A
        lo largo de este curso se ofrece a todos nuestros estudiantes acceso a
        nuestra plataforma web donde encontraréis todos los materiales
        necesarios para adquirir el nivel de suficiencia en conocimientos de
        valenciano, de forma que tendréis al alcance todos los recursos
        necesarios para practicar las diferentes destrezas lingüísticas que lo
        demuestran. Así, el grosor del curso está integrado por toda una serie
        de vídeos explicativos de las diferentes áreas de contenidos del MCER,
        divididos y agrupados en 10 unidades a lo largo de las cuales se
        adquieren los diferentes conocimientos. Además de los vídeos, hay un
        importante material complementario, tanto teórico como práctico, para
        redondear la formación, además de las necesarias prácticas de examen.
      </p>
      <a routerLink="/cursos/valenciano/c1">
        <p>Ir al curso</p>
      </a>
    </div>
    <div class="noticia">
      <h5>Curso Valenciano C2</h5>
      <img src="assets/img/slider4.png"/>
      <p>
        El Curso de Tecnificación está pensado para el logro del nivel C2 de
        conocimientos de valenciano mediante un trabajo contínuo a lo largo de
        un periodo de tiempo de entre 9 y 12 meses, teniendo en cuenta la
        complejidad y el nivel elevado de los contenidos a trabajar, puesto que
        se pretende lograr el nivel de experto. Así pues, el curso consta de 10
        unidades, compuestas todas ellas por toda una serie de vídeos
        explicativos pertenecientes a las diferentes áreas de contenidos
        lingüísticos establecidos por el MCER. Además de esto, todas las
        unidades constan también de un importante conjunto de recursos
        complementarios, tanto teóricos como prácticos, para reforzar los
        conocimientos adquiridos además de para poner en práctica las diversas
        competencias y destrezas lingüísticas que se evaluarán en el examen de
        cualquiera de las tres entidades acreditadoras: JQCV, CIEAcova o EOI.
      </p>
      <a routerLink="/cursos/valenciano/c2">
        <p>Ir al curso</p>
      </a>
    </div>
    <div class="noticia">
      <h5>Prueba de nivel Valenciano C1 y C2</h5>
      <img src="assets/img/slider5.png"/>
      <p>
        Realiza ya la prueba de nivel de Valenciano C1 y C2 para saber el nivel
        en el que estás. No dudes en enviarsela a nuestro profesorado para
        máxima orientación.
      </p>
      <a
        download="Prueba_de_nivel.pdf"
        href="assets/documentacion/prova_de_nivell.pdf"
      >
        <h5 class="download">
          REALIZA LA PRUEBA DE NIVEL
          <i class="fas fa-file-pdf"></i>
        </h5>
      </a>
    </div>
  </div>
</div>
