<div class="intensivo">
  <div class="intensivo-contenedor">
    <div class="curso">
      <a routerLink="/cursos/valenciano/semiintensivos/curso-semiintensivo/b1">
        <div class="curso-texto">
          <h5>CURSO SEMIINTENSIVO VALENCIANO B1</h5>
          <p class="frase-importante">PROCESO DE MATRICULACIÓN</p>
        </div>
      </a>
    </div>
    <div class="curso">
      <a routerLink="/cursos/valenciano/semiintensivos/curso-semiintensivo/c1">
        <div class="curso-texto">
          <h5>CURSO SEMIINTENSIVO VALENCIANO C1</h5>
          <p class="frase-importante">PROCESO DE MATRICULACIÓN</p>
        </div>
      </a>
    </div>
    <div class="curso">
      <a routerLink="/cursos/valenciano/semiintensivos/curso-semiintensivo/c2">
        <div class="curso-texto">
          <h5>CURSO SEMIINTENSIVO VALENCIANO C2</h5>
          <p class="frase-importante">PROCESO DE MATRICULACIÓN</p>
        </div>
      </a>
    </div>
  </div>
</div>
