<div class="contenedor-container">
  <h3 class="p4">
    {{redes_sociales}}
  </h3>
  <h3 class="p4">
    {{informacion_usuario}}
  </h3>
  <p class="subtitle p2">
    {{subtitle1_1}}
  </p>
  <p class="p2">
    {{desc1_1}}
  </p>
  <p class="subtitle p2">
    {{subtitle2_1}}
  </p>
  <p class="pl2">
    {{desc2_1}}
  </p>
  <p class="pl2">
    {{desc2_2}}
  </p>
  <p class="pl2">
    {{desc2_3}}
  </p>
  <p class="pl2">
    {{desc2_4}}
  </p>
  <p class="p2">
    {{desc2_5}}
  </p>
  <p class="p2">
    {{desc2_6}}
  </p>
  <p class="p2">
    {{desc2_7}}
  </p>
  <p class="p2">
    {{desc2_8}}
  </p>
  <p class="subtitle p2">
    {{subtitle3_1}}
  </p>
  <p class="p2">
    {{desc3_1}}
  </p>
  <p class="p4">
    {{desc3_2}}
  </p>
  <p class="p4">
    {{desc3_3}}
  </p>
  <p class="p4">
    {{desc3_4}}
  </p>
  <p class="p4">
    {{desc3_5}}
  </p>
  <p class="p2">
    {{desc3_6}}
  </p>
  <p class="subtitle p2">
    {{subtitle4_1}}
  </p>
  <p class="p2">
    {{desc4_1}}
  </p>
  <p class="p2">
    {{desc4_2}}
  </p>
  <p class="p2">
    {{desc4_3}}
  </p>
  <p class="subtitle p2">
    {{subtitle5_1}}
  </p>
  <p class="p2">
    {{desc5_1}}
  </p>
  <p class="subtitle p2">
    {{subtitle6_1}}
  </p>
  <p class="p2">
    {{desc6_1}}
  </p>
  <p class="p2">
    {{desc6_2}}
  </p>
  <p class="subtitle p2">
    {{subtitle7_1}}
  </p>
  <p class="p2">
    {{desc7_1}}
  </p>
  <p class="p4">
    {{desc7_2}}
  </p>
  <p class="p4">
    {{desc7_3}}
  </p>
  <p class="p4">
    {{desc7_4}}
  </p>
  <p class="p2">
    {{desc7_5}}
  </p>
  <p class="p2">
    {{desc7_6}}
  </p>
  <p class="p4">
    {{desc7_7}}
  </p>
  <p class="p4">
    {{desc7_8}}
  </p>
  <p class="p4">
    {{desc7_9}}
  </p>
  <p class="p4">
    {{desc7_10}}
  </p>
  <h3 class="p4">
    {{utilizacion}}
  </h3>
  <p class="p2">
    {{desc8_1}}
  </p>
  <p class="p4">
    {{desc8_2}}
  </p>
  <p class="p4">
    {{desc8_3}}
  </p>
  <p class="p4">
    {{desc8_4}}
  </p>
  <p class="p4">
    {{desc8_5}}
  </p>
  <p class="p4">
    {{desc8_6}}
  </p>
  <p class="p2">
    {{desc8_7}}
  </p>
  <h3 class="p4">
    {{publicaciones}}
  </h3>
  <p class="p2">
    {{desc9_1}}
  </p>
  <p class="p2">
    {{desc9_2}}
  </p>
  <p class="p2">
    {{desc9_3}}
  </p>
  <p class="p2">
    {{desc9_4}}
  </p>
  <p class="p2">
    {{desc9_5}}
  </p>
  <p class="p2">
    {{desc9_6}}
  </p>
  <p class="p2">
    {{desc9_7}}
  </p>
  <h3 class="p4">
    {{publicidad}}
  </h3>
  <p class="p2">
    {{desc10_1}}
  </p>
  <p class="p2">
    {{desc10_2}}
  </p>
  <h3 class="p4">
    {{datos_menores_discapacidad}}
  </h3>
  <p class="p2">
    {{desc11_1}}
  </p>
  <p class="p2">
    {{desc11_2}}
  </p>
</div>
