<div class="contenedor-container">
  <h2 class="p4">
    {{terminosContratacion}}
  </h2>
  <p class="p2">
    {{desc1_1}}
  </p>
  <p class="p2">
    {{desc1_2}}
  </p>
  <p class="p2">
    {{desc1_3}}
  </p>
  <p class="p2">
    {{desc1_4}}
  </p>
  <p class="p2">
    {{desc1_5}}
  </p>
  <p class="p2">
    {{desc1_6}}
  </p>
  <p class="p2">
    {{desc1_7}}
  </p>
  <p class="subtitle p4">
    {{identidad}}
  </p>
  <p class="p2">
    {{desc2_1}}
  </p>
  <p class="p2">
    {{desc2_2}}
  </p>
  <p class="subtitle p4">
    {{objetos}}
  </p>
  <p class="p2">
    {{desc3_1}}
  </p>
  <p class="p2">
    {{desc3_2}}
  </p>
  <p class="subtitle p4">
    {{definiciones}}
  </p>
  <p class="p2">
    {{desc4_1}}
  </p>
  <p class="p2">
    {{desc4_2}}
  </p>
  <p class="p2">
    {{desc4_3}}
  </p>
  <p class="p2">
    {{desc4_4}}
  </p>
  <p class="p2">
    {{desc4_5}}
  </p>
  <p class="subtitle p4">
    {{procedimiento}}
  </p>
  <p class="p2">
    {{desc5_1}}
  </p>
  <p class="p2">
    {{desc5_2}}
  </p>
  <p class="p2">
    {{desc5_3}}
  </p>
  <p class="p2">
    {{desc5_4}}
  </p>
  <p class="p2">
    {{desc5_5}}
  </p>
  <p class="p2">
    {{desc5_6}}
  </p>
  <p class="p2">
    {{desc5_7}}
  </p>
  <p class="p2">
    {{desc5_8}}
  </p>
  <p class="p2">
    {{desc5_9}}
  </p>
  <p class="p2">
    {{desc5_10}}
  </p>
  <p class="p2">
    {{desc5_11}}
  </p>
  <p class="p2">
    {{desc5_12}}
  </p>
  <p class="p2">
    {{desc5_13}}
  </p>
  <p class="p2">
    {{desc5_14}}
  </p>
  <p class="p2">
    {{desc5_15}}
  </p>
  <p class="p2">
    {{desc5_16}}
  </p>
  <p class="p2">
    {{desc5_17}}
  </p>
  <p class="p2">
    {{desc5_18}}
  </p>
  <p class="p2">
    {{desc5_19}}
  </p>
  <p class="subtitle p4">
    {{clausula_1}}
  </p>
  <p class="p2">
    {{desc6_1}}
  </p>
  <p class="p2">
    {{desc6_2}}
  </p>
  <p class="subtitle p4">
    {{clausula_2}}
  </p>
  <p class="p2">
    {{desc7_1}}
  </p>
  <p class="p2">
    {{desc7_2}}
  </p>
  <p class="p2">
    {{desc7_3}}
  </p>
  <p class="p2">
    {{desc7_4}}
  </p>
  <p class="p2">
    {{desc7_5}}
  </p>
  <p class="p2">
    {{desc7_6}}
  </p>
  <p class="p2">
    {{desc7_7}}
  </p>
  <p class="p2">
    {{desc7_8}}
  </p>
  <p class="p2">
    {{desc7_9}}
  </p>
  <p class="p2">
    {{desc7_10}}
  </p>
  <p class="p2">
    {{desc7_11}}
  </p>
  <p class="p2">
    {{desc7_12}}
  </p>
  <p class="p2">
    {{desc7_13}}
  </p>
  <p class="subtitle p4">
    {{clausula_3}}
  </p>
  <p class="p2">
    {{desc8_1}}
  </p>
  <p class="p2">
    {{desc8_2}}
  </p>
  <p class="p2">
    {{desc8_3}}
  </p>
  <p class="subtitle p4">
    {{clausula_4}}
  </p>
  <p class="p2">
    {{desc9_1}}
  </p>
  <p class="p2">
    {{desc9_2}}
  </p>
  <p class="p2">
    {{desc9_3}}
  </p>
  <p class="p4">
    {{desc9_4}}
  </p>
  <p class="subtitle p4">
    {{clausula_5}}
  </p>
  <p class="p2">
    {{desc10_1}}
  </p>
  <p class="p2">
    {{desc10_2}}
  </p>
  <p class="p2">
    {{desc10_3}}
  </p>
  <p class="p2">
    {{desc10_4}}
  </p>
  <p class="p2">
    {{desc10_5}}
  </p>
  <p class="p2">
    {{desc10_6}}
  </p>
  <p class="p2">
    {{desc10_7}}
  </p>
  <p class="p2">
    {{desc10_8}}
  </p>
  <p class="subtitle p4">
    {{clausula_6}}
  </p>
  <p class="p2">
    {{desc11_1}}
  </p>
  <p class="p2">
    {{desc11_2}}
  </p>
  <p class="subtitle p4">
    {{clausual_7}}
  </p>
  <p class="p2">
    {{desc12_1}}
  </p>
  <p class="p2">
    {{desc12_2}}
  </p>
  <p class="p2">
    {{desc12_3}}
  </p>
  <p class="subtitle p4">
    {{clausula_8}}
  </p>
  <p class="p2">
    {{desc13_1}}
  </p>
  <p class="p2">
    {{desc13_2}}
  </p>
  <p class="p2">
    {{desc13_3}}
  </p>
  <p class="p2">
    {{desc13_4}}
  </p>
  <p class="p2">
    {{desc13_5}}
  </p>
  <p class="p2">
    {{desc13_6}}
  </p>
  <p class="p2">
    {{desc13_7}}
  </p>
  <p class="p2">
    {{desc13_8}}
  </p>
  <p class="p2">
    {{desc13_9}}
  </p>
  <p class="p2">
    {{desc13_10}}
  </p>
  <p class="p2">
    {{desc13_11}}
  </p>
  <p class="p2">
    {{desc13_12}}
  </p>
  <p class="p2">
    {{desc13_13}}
  </p>
  <p class="p2">
    {{desc13_14}}
  </p>
  <p class="p2">
    {{desc13_15}}
  </p>
  <p class="p2">
    {{desc13_16}}
  </p>
  <p class="p2">
    {{desc13_17}}
  </p>
  <p class="subtitle p4">
    {{clausula_9}}
  </p>
  <p class="p2">
    {{desc14_1}}
  </p>
  <p class="p2">
    {{desc14_2}}
  </p>
  <p class="p2">
    {{desc14_3}}
  </p>
  <p class="p2">
    {{desc14_4}}
  </p>
  <p class="p2">
    {{desc14_5}}
  </p>
  <p class="p2">
    {{desc14_6}}
  </p>
  <p class="p2">
    {{desc14_7}}
  </p>
  <p class="p2">
    {{desc14_8}}
  </p>
  <p class="p2">
    {{desc14_9}}
  </p>
  <p class="p2">
    {{desc14_10}}
  </p>
  <p class="p2">
    {{desc14_11}}
  </p>
  <p class="p2">
    {{desc14_12}}
  </p>
  <p class="p2">
    {{desc14_13}}
  </p>
  <p class="subtitle p4">
    {{clausula_10}}
  </p>
  <p class="p2">
    {{desc15_1}}
  </p>
  <p class="p2">
    {{desc15_2}}
  </p>
  <p class="subtitle p4">
    {{clausula_11}}
  </p>
  <p class="p2">
    {{desc16_1}}
  </p>
  <p class="p2">
    {{desc16_2}}
  </p>
  <p class="p2">
    {{desc16_3}}
  </p>
  <p class="p2">
    {{desc16_4}}
  </p>
  <p class="p2">
    {{desc16_5}}
  </p>
  <p class="p2">
    {{desc16_6}}
  </p>
  <p class="p2">
    {{desc16_7}}
  </p>
  <p class="p2">
    {{desc16_8}}
  </p>
  <p class="p2">
    {{desc16_9}}
  </p>
  <p class="p2">
    {{desc16_10}}
  </p>
  <p class="p2">
    {{desc16_11}}
  </p>
  <p class="p2">
    {{desc16_12}}
  </p>
  <p class="p2">
    {{desc16_13}}
  </p>
  <p class="p2">
    {{desc16_14}}
  </p>
  <p class="p2">
    {{desc16_15}}
  </p>
  <p class="p2">
    {{desc16_16}}
  </p>
  <p class="subtitle p4">
    {{clausula_12}}
  </p>
  <p class="p2">
    {{desc17_1}}
  </p>
  <p class="subtitle p4">
    {{clausula_13}}
  </p>
  <p class="p2">
    {{desc18_1}}
  </p>
  <p class="subtitle p4">
    {{clausula_14}}
  </p>
  <p class="p2">
    {{desc19_1}}
  </p>
  <p class="p2">
    {{desc19_2}}
  </p>
  <p class="p2">
    {{desc19_3}}
  </p>
  <p class="subtitle p4">
    {{clausula_15}}
  </p>
  <p class="p2">
    {{desc20_1}}
  </p>
  <p class="p2">
    {{desc20_2}}
  </p>
</div>
