@import "src/app/styles/index.scss";

.contenedor-container {
  display: flex;
  flex-direction: column;
  width: 60rem;
  padding: 2rem;
  background: $components-dark;
  align-items: initial;

  @include laptop {
    width: 31rem;
  }
  @include tablet {
    width: 32rem;
  }
  @include mobileL {
    width: 25rem;
  }
  @include mobileM {
    width: 20rem;
  }
  @include mobileM {
    width: 19rem;
  }

  .p2 {
    padding: 0.5rem;
  }

  .p4 {
    padding: 1rem;
  }
}

.subtitle {
  color: $text-color-hover;
}
