<div class="contenedor-container">
  <h3 class="p4">
    {{ aviso_legal }}
  </h3>
  <p class="p2">
    {{ desc1_1 }}
  </p>
  <p class="p2">
    {{ desc1_2 }}
  </p>
  <p class="p2">
    {{ desc1_3 }}
  </p>
  <h3 class="p4">
    {{ datos_identificativos }}
  </h3>
  <div class="row-item">
    <p class="p2">
      {{ nombre_dominio }}
    </p>
    <p class="p2">
      {{ dominio }}
    </p>
  </div>
  <div class="row-item">
    <p class="p2">
      {{ nombre_comercial }}
    </p>
    <p class="p2">
      {{ nombre }}
    </p>
  </div>
  <div class="row-item">
    <p class="p2">
      {{ denominacion_social }}
    </p>
    <p class="p2">
      {{ denominacion }}
    </p>
  </div>
  <div class="row-item">
    <p class="p2">
      {{ nif }}
    </p>
    <p class="p2">
      {{ numero_nif }}
    </p>
  </div>
  <div class="row-item">
    <p class="p2">
      {{ domicilio_social }}
    </p>
    <p class="p2">
      {{ domicilio }}
    </p>
  </div>
  <div class="row-item">
    <p class="p2">
      {{ telefono }}
    </p>
    <p class="p2">
      {{ numero_telefono }}
    </p>
  </div>
  <div class="row-item">
    <p class="p2">
      {{ email }}
    </p>
    <p class="p2">
      {{ email_contacto }}
    </p>
  </div>
  <h3 class="p4">
    {{ condiciones_generales_uso_y_sitio_web }}
  </h3>
  <p class="p2">
    {{ desc2_1 }}
  </p>
  <p class="p2">
    {{ desc2_2 }}
  </p>
  <p class="p2">
    {{ desc2_3 }}
  </p>
  <p class="p2">
    {{ desc2_4 }}
  </p>
  <p class="p2">
    {{ desc2_5 }}
  </p>
  <p class="p2">
    {{ desc2_6 }}
  </p>
  <p class="p2">
    {{ desc2_7 }}
  </p>
  <p class="p2">
    {{ desc2_8 }}
  </p>
  <p class="p2">
    {{ desc2_9 }}
  </p>
  <p class="p2">
    {{ desc2_10 }}
  </p>
  <p class="p2">
    {{ desc2_11 }}
  </p>
  <p class="p2">
    {{ desc2_12 }}
  </p>
  <p class="p2">
    {{ desc2_13 }}
  </p>
  <p class="p2">
    {{ desc2_14 }}
  </p>
  <p class="p2">
    {{ desc2_15 }}
  </p>
  <p class="p2">
    {{ desc2_16 }}
  </p>
  <p class="p2">
    {{ desc2_17 }}
  </p>
  <p class="p2">
    {{ desc2_18 }}
  </p>
  <p class="p2">
    {{ desc2_19 }}
  </p>
  <p class="p2">
    {{ desc2_20 }}
  </p>
  <p class="p2">
    {{ desc2_21 }}
  </p>
  <p class="p2">
    {{ desc2_22 }}
  </p>
  <h3 class="p4">
    {{derechos_propiedad}}
  </h3>
  <p class="p2">
    {{ desc3_1 }}
  </p>
  <p class="p2">
    {{ desc3_2 }}
  </p>
  <p class="p2">
    {{ desc3_3 }}
  </p>
  <p class="p2">
    {{ desc3_4 }}
  </p>
  <p class="p2">
    {{ desc3_5 }}
  </p>
  <p class="p2">
    {{ desc3_6 }}
  </p>
  <p class="p2">
    {{ desc3_7 }}
  </p>
  <p class="p2">
    {{ desc3_8 }}
  </p>
  <p class="p2">
    {{ desc3_9 }}
  </p>
  <p class="p3">
    {{ desc3_10 }}
  </p>
  <p class="p3">
    {{ desc3_11 }}
  </p>
  <h3 class="p4">
    {{exencion_responsabilidades}}
  </h3>
  <p class="p2">
    {{ desc4_1 }}
  </p>
  <p class="p2">
    {{ desc4_2 }}
  </p>
  <p class="p2">
    {{ desc4_3 }}
  </p>
  <p class="p2">
    {{ desc4_4 }}
  </p>
  <p class="p2">
    {{ desc4_5 }}
  </p>
  <p class="p2">
    {{ desc4_6 }}
  </p>
  <p class="p2">
    {{ desc4_7 }}
  </p>
  <p class="p2">
    {{ desc4_8 }}
  </p>
  <h3 class="p4">
    {{politica_enlaces}}
  </h3>
  <p class="p2">
    {{ desc5_1 }}
  </p>
  <p class="p2">
    {{ desc5_2 }}
  </p>
  <p class="p2">
    {{ desc5_3 }}
  </p>
  <p class="p2">
    {{ desc5_4 }}
  </p>
  <p class="p2">
    {{ desc5_5 }}
  </p>
  <p class="p2">
    {{ desc5_6 }}
  </p>
  <p class="p3">
    {{ desc5_7 }}
  </p>
  <p class="p3">
    {{ desc5_8 }}
  </p>
  <p class="p3">
    {{ desc5_9 }}
  </p>
  <p class="p2">
    {{ desc5_10 }}
  </p>
  <p class="p2">
    {{ desc5_11 }}
  </p>
  <p class="p2">
    {{ desc5_12 }}
  </p>
  <p class="p2">
    {{ desc5_13 }}
  </p>
  <p class="p2">
    {{ desc5_14 }}
  </p>
  <p class="p2">
    {{ desc5_15 }}
  </p>
  <p class="p3">
    {{ desc5_16 }}
  </p>
  <p class="p3">
    {{ desc5_17 }}
  </p>
  <p class="p3">
    {{ desc5_18 }}
  </p>
  <p class="p3">
    {{ desc5_19 }}
  </p>
  <p class="p2">
    {{ desc5_20 }}
  </p>
  <p class="p2">
    {{ desc5_21 }}
  </p>
  <p class="p2">
    {{ desc5_22 }}
  </p>
  <p class="p2">
    {{ desc5_23 }}
  </p>
  <p class="p2">
    {{ desc5_24 }}
  </p>
  <h3 class="p4">
    {{cookies}}
  </h3>
  <p class="p2">
    {{ desc6_1 }}
  </p>
  <p class="p2">
    {{ desc6_2 }}
  </p>
  <p class="p2">
    {{ desc6_3 }}
  </p>
  <p class="p2">
    {{ desc6_4 }}
  </p>
  <p class="p2">
    {{ desc6_5 }}
  </p>
  <p class="p2">
    {{ desc6_6 }}
  </p>
  <h3 class="p4">
    {{ip}}
  </h3>
  <p class="p2">
    {{desc7_1}}
  </p>
  <h3 class="p4">
    {{notificaciones}}
  </h3>
  <p class="p2">
    {{desc8_1}}
  </p>
  <p class="p3">
    {{desc8_2}}
  </p>
  <p class="p3">
    {{desc8_3}}
  </p>
  <p class="p3">
    {{desc8_4}}
  </p>
  <p class="p2">
    {{desc8_5}}
  </p>
  <p class="p3">
    {{desc8_6}}
  </p>
  <p class="p3">
    {{desc8_7}}
  </p>
  <p class="p3">
    {{desc8_8}}
  </p>
  <p class="p2">
    {{desc8_9}}
  </p>
  <h3 class="p4">
    {{proteccion_datos}}
  </h3>
  <p class="p2">
    {{desc9_1}}
  </p>
  <h3 class="p4">
    {{reclamaciones}}
  </h3>
  <p class="p2">
    {{desc10_1}}
  </p>
  <p class="p2">
    {{desc10_2}}
  </p>
  <p class="p2">
    {{desc10_3}}
  </p>
  <div class="reclamaciones">
    <p class="p2">
      {{desc10_4}}
    </p>
    <br>
    <p class="p2">
      {{desc10_5}}
    </p>
    <p class="p2">
      {{desc10_6}}
    </p>
    <p class="p2">
      {{desc10_7}}
    </p>
    <p class="p2">
      {{desc10_8}}
    </p>
    <p class="p2">
      {{desc10_9}}
    </p>
    <p class="p2">
      {{desc10_10}}
    </p>
  </div>
  <h3 class="p4">
    {{resolucion_conflictos}}
  </h3>
  <p class="p2">
    {{desc11_1}}
  </p>
  <h3 class="p4">
    {{ley}}
  </h3>
  <p class="p2">
    {{desc12_1}}
  </p>
</div>
