@import 'src/app/styles/colors';

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 3rem 10rem 3rem 10rem;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.boton-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background: none;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.5s;

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $components-light;
    font-size: 1.3rem;
  }

  &:hover {
    background: $text-color-dark;

    .boton-nav-icon {
      color: $text-color-hover;
    }
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  background: $text-color-dark;
  z-index: 9999;
  height: 3.5rem;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
    height: 100%;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      transition: 0.3s;
      padding-left: 0.7rem;
      padding-right: 0.7rem;

      &:hover {
        color: $text-color-light;

        h5 {
          color: $text-color-hover;
        }
      }
    }
  }
}

.boton {
  background: none;
  border: 2px solid $text-color-hover;
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: $text-color-hover;

    h5 {
      color: $components-dark;
    }
  }
}

.toast {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 1rem;

  &.success {
    background: $color-success;
    color: $text-color-dark;
  }

  &.info {
    background: $color-info;
    color: $text-color-light;
  }

  &.warning {
    background: $color-warning;
    color: $text-color-dark;
  }

  &.error {
    background: $color-error;
    color: $text-color-light;
  }
}
