$background-light: #f4f4f2;
$components-light: #bbbfca;
$components-dark: #31373f;
$text-color-light: #eeeeee;
$text-color-dark: #222831;
$text-color-emphasis: #fcbe8c;
$text-color-hover: #f6ab6c;
$color-success: #ade498;
$color-error: #e8505b;
$color-info: #3282b8;
$color-warning: #fcf876;
