<div class="politicas">
  <div class="politicas-contenedor">
    <div class="menu">
      <ul>
        <li id="item1" class="item1">
          <p>POLÍTICA DE PRIVACIDAD</p>
        </li>
        <li id="item2" class="item2 dnone">
          <p>POLÍTICA DE PRIVACIDAD EN REDES</p>
        </li>
        <li id="item3" class="item3 dnone">
          <p>POLÍTICA DE COOKIES</p>
        </li>
        <li id="item4" class="item4 dnone">
          <p>CONDICIONES DE CONTRATACIÓN</p>
        </li>
        <li id="item5" class="item5 dnone">
          <p>AVISO LEGAL</p>
        </li>
      </ul>
    </div>
    <div class="contenido">
      <app-privacidad id="politica1"></app-privacidad>
      <app-privacidad-redes id="politica2" class="dnone"></app-privacidad-redes>
      <app-cookies id="politica3" class="dnone"></app-cookies>
      <app-contratacion id="politica4" class="dnone"></app-contratacion>
      <app-aviso-legal id="politica5" class="dnone"></app-aviso-legal>
    </div>
  </div>
</div>
