<div class="reproductor">
  <div class="reproductor-contenedor">
    <div class="video">
      <div class="video-reproductor">
        <video
          id="video"
          class="player"
          controls
          controlsList="nodownload"
          (contextmenu)="onRightClick()"
        >
          <source src="{{ videoSrc[videoSrcNum] }}" type="video/mp4" />
        </video>
      </div>
      <div class="resumen">
        <ul>
          <li>
            <h5>DESCRIPCIÓ</h5>
          </li>
        </ul>
        <div class="descripcion">
          <h5>{{ desc[descNum] }}</h5>
          <p>{{ resumen[resumenNum] }}</p>
        </div>
      </div>
    </div>
    <div class="indice">
      <div class="unidades">
        <ul>
          <li id="unidad1">
            <h5>UNITATS</h5>
          </li>
          <li id="unidad2">
            <h5>CLASES GRABADES</h5>
          </li>
        </ul>
      </div>
      <div class="videos">
        <ul>
          <li id="item1">
            <p>DETERMINANTS</p>
            <div id="dropdet" class="dropdown right">
              <ul class="full">
                <li>
                  <a
                    href="assets/ejercicios/determinants.pdf"
                    download="Dossier_Teoric_Determinants.pdf"
                  >
                    <h5>DOSSIER TEORIA</h5>
                  </a>
                </li>
                <li>
                  <a
                    href="assets/ejercicios/activitats_determinants.pdf"
                    download="Activitats_Determinants.pdf"
                  >
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item2">
            <p>FLEXIÓ VERBAL</p>
            <div id="dropfv" class="dropdown right">
              <ul class="full">
                <li>
                  <a
                    href="assets/ejercicios/Flexio_Verbal_c2.pdf"
                    download="Dossier_Teoric_Flexio_Verbal.pdf"
                  >
                    <h5>DOSSIER TEORIA</h5>
                  </a>
                </li>
                <li>
                  <a
                    href="assets/ejercicios/Activitats_Flexio_Verbal_c2.pdf.pdf"
                    download="Activitats_Flexio_Verbal.pdf"
                  >
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item3">
            <p>EXPRESSIÓ I INTERACCIÓ ESCRITES 1</p>
            <div id="dropeie" class="dropdown right">
              <ul class="full">
                <li>
                  <a
                    href="assets/ejercicios/Expressio_Escrita1_Cieacova.pdf"
                    download="Activitats_Expressio_Escrita.pdf"
                  >
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item4">
            <p>EXPRESSIÓ I INTERACCIÓ ESCRITES 2</p>
            <div id="dropeie2" class="dropdown right">
              <ul class="full">
                <li>
                  <a
                    href="assets/ejercicios/Expressio_Escrita2_Cieacova.pdf"
                    download="Activitats_Expressio_Escrita2.pdf"
                  >
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item5">
            <p>EXPRESSIÓ I INTERACCIÓ ESCRITES 3</p>
            <div id="dropeie3" class="dropdown right">
              <ul class="full">
                <li>
                  <a
                    href="assets/ejercicios/Expressio_Escrita3_Cieacova.pdf"
                    download="Activitats_Expressio_Escrita3.pdf"
                  >
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item6">
            <p>EXPRESSIÓ I INTERACCIÓ ESCRITES 4</p>
            <div id="dropeie4" class="dropdown right">
              <ul class="full">
                <li>
                  <a
                    href="assets/ejercicios/Expressio_Escrita4_Cieacova.pdf"
                    download="Activitats_Expressio_Escrita4.pdf"
                  >
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item7">
            <p>EXPRESSIÓ I INTERACCIÓ ORALS 1</p>
            <div id="dropeio1" class="dropdown right">
              <ul class="full">
                <li>
                  <a
                    href="assets/ejercicios/exercicis_CEiEO.pdf"
                    download="Activitats_Expressio_Oral.pdf"
                  >
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item8">
            <p>EXPRESSIÓ I INTERACCIÓ ORALS 2</p>
            <div id="dropeio2" class="dropdown right">
              <ul class="full">
                <li>
                  <a
                    href="assets/ejercicios/exercicis_CEiEO2.pdf"
                    download="Activitats_Expressio_Oral.pdf"
                  >
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item9">
            <p>PROVA SIMULACRE</p>
            <div id="dropps" class="dropdown right">
              <ul class="full">
                <li>
                  <a
                    href="assets/ejercicios/C2_Prova_Simulacre_CIEAcova.pdf"
                    download="Prova_Simulacre.pdf"
                  >
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
