@import './assets/fontawesome/css/all.css';
@import '~ngx-toastr/toastr';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    width: 0.5rem;

    &-track {
      background: transparent;
    }

    &-thumb {

    }
  }
}
