<div class="reproductor">
  <div class="reproductor-contenedor">
    <div class="video">
      <div class="video-reproductor">
        <video id="video" class="player" controls controlsList="nodownload" (contextmenu)="onRightClick()">
          <source src="{{videoSrc[videoSrcNum]}}" type="video/mp4">
        </video>
      </div>
      <div class="resumen">
        <ul>
          <li>
            <h5>DESCRIPCIÓ</h5>
          </li>
        </ul>
        <div class="descripcion">
          <h5>{{desc[descNum]}}</h5>
          <p>{{resumen[resumenNum]}}</p>
        </div>
      </div>
    </div>
    <div class="indice">
      <div class="unidades">
        <ul>
          <li id="unidad1">
            <h5>UNITATS</h5>
          </li>
          <li id="unidad2">
            <h5>CLASES GRABADES</h5>
          </li>
        </ul>
      </div>
      <div class="videos">
        <ul>
          <li id="item1">
            <p>EXPRESSIÓ I INTERACCIÓ ESCRITES 1</p>
            <div id="dropeie1" class="dropdown right">
              <ul>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item2">
            <p>EXPRESSIÓ I INTERACCIÓ ESCRITES 2</p>
            <div id="dropeie2" class="dropdown right">
              <ul>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item3">
            <p>EXPRESSIÓ I INTERACCIÓ ESCRITES 3</p>
            <div id="dropeie3" class="dropdown right">
              <ul>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item4">
            <p>EXPRESSIÓ I INTERACCIÓ ESCRITES 4</p>
            <div id="dropeie4" class="dropdown right">
              <ul>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item5">
            <p>EXPRESSIÓ I INTERACCIÓ ESCRITES 5</p>
          </li>
          <li id="item6">
            <p>MORFOSINTAXIS</p>
            <div id="dropmorf" class="dropdown right">
              <ul class="full">
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>SOLUCIONARI</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>TEORIA</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>SOLUCIONARI</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>TEORIA</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item7">
            <p>ORTOGRAFÍA</p>
          </li>
          <li id="item8">
            <p>FLEXIÓ VERBAL</p>
            <div id="dropfv" class="dropdown right">
              <ul>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>SOLUCIONARI</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>TEORIA</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>TEORIA</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item9">
            <p>EXPRESSIÓ I INTERACCIÓ ORAL</p>
            <div id="dropeio" class="dropdown right">
              <ul>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li id="item10">
            <p>COMPRENSIÓ ESCRITA</p>
            <div id="dropce" class="dropdown right">
            <ul>
              <li>
                <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                  <h5>ACTIVITATS</h5>
                </a>
              </li>
            </ul>
          </div>
          </li>
          <li id="item11">
            <p>MONÓLEG</p>
          </li>
          <li id="item12">
            <p>SIMULACRE FÍ CURS</p>
            <div id="dropfc" class="dropdown right">
              <ul>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>ACTIVITATS</h5>
                  </a>
                </li>
                <li>
                  <a href="assets/ejercicios/U2_Activitats_F_E_O.pdf" download="Activitats_FEO01.pdf">
                    <h5>SOLUCIONARI</h5>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
