<div id="modal" class="modal dnone">
  <div class="header-modal">
    <h3>Protección y Tratamiento de Datos</h3>
  </div>
  <p>El responsable del tratamiento de los datos personales facilitados es ADRIAN GONZALEZ ROMERO que tratará los mismos con la finalidad de contactar con Vd. e informarle de acuerdo a su solicitud realizada a través del formulario de contacto. La base que nos permite usar estos datos es su consentimiento. Sus datos no serán cedidos salvo obligación legal y pueden ser accedidos por los proveedores que nos prestan servicios y relacionados en la Política de Privacidad. No se prevén transferencias internacionales de datos.</p>
  <p>Vd. tiene derecho a acceder, rectificar y suprimir sus datos ante ADRIAN GONZALEZ ROMERO mediante mail a contacto@arrovacademia.es, llamando al teléfono nº (+34) 630730706 o por correo postal a C/ CARMEN DONDERIS, nº 1- 38 - MELIANA - 46.133 – VALENCIA. También puede presentar una reclamación ante la Autoridad de control (www.aepd.es) si considera que el tratamiento no se ajusta a normativa.</p>
  <a [routerLink]="['/politicas']" routerLinkActive="router-link-active"></a>
  <div class="footer-modal">
    <button class="boton" id="btn">
      <h5>ACEPTAR</h5>
    </button>
  </div>
</div>
