<div class="pago-not-found">
  <div class="pago-not-found-contenedor">
    <div class="header">
      <h1 class="header-text">Upss!!</h1>
      <i class="fas fa-exclamation-triangle header-icon"></i>
    </div>
    <div class="contenido">
      <h3>Error.</h3>
      <h3>Su pago no a sido ejecutado correctamente.</h3>
      <h3>Por favor vuelva al inicio y realice de nuevo el proceso.</h3>
    </div>
    <div class="volver">
      <button routerLink="/" class="boton">
        <h5>INICIO</h5>
      </button>
    </div>
  </div>
</div>
