<div class="succesfull">
  <div class="succesfull-contenedor">
    <div class="header">
      <i class="fas fa-check header-icon"></i>
    </div>
    <div class="contenido">
      <h3>
        El formulario ha sido enviado correctamente. Nuestro profesorado,
        estudiará tu caso y contactará contigo para darte la mejor solución a tu
        problema.
      </h3>
      <h3>
        Esperamos atenderte lo más rápido posible, le rogamos tenga un poquito
        de paciencia.
      </h3>
      <h3>Gracias por confiar en nosotros.</h3>
    </div>
    <div class="volver">
      <button routerLink="/" class="boton">
        <h5>INICIO</h5>
      </button>
    </div>
  </div>
</div>
