<div class="contenedor-container">
  <div class="contenedor-preview m8">
    <div class="info">
      <h3>Información de Usuario</h3>
      <img src="assets/img/usuario.png"/>
      <p>Nombre:</p>
      <h5>{{userProfile.nombre}}</h5>
      <p>Apellidos:</p>
      <h5>{{userProfile.apellido1}} {{userProfile.apellido2}}</h5>
      <p>Usuario:</p>
      <h5>{{userProfile.nombreUsuario}}</h5>
      <p>Correo:</p>
      <h5>{{userProfile.correo}}</h5>
      <p>Fecha de Nacimiento</p>
      <h5>{{userProfile.fechaNacimiento | date: 'dd/MM/yyyy'}}</h5>
      <div>
        <button (click)="logout()" routerLink="/" class="boton-logout">
          <i class="fas fa-sign-out-alt boton-logout-icon"></i>
          <h5 class="boton-logout-text">SALIR</h5>
        </button>
      </div>
    </div>

    <div class="datos">
      <div class="datosHeader">
        <div class="datosHeader-notificaciones">
          <!--TODO: NOTIFICACIONES-->
        </div>
        <div class="datosHeader-calendario">
          <!--TODO: CALENDARIO-->
        </div>
      </div>
      <div class="datosBody">
        <div class="curso">
          <h3 class="curso-titulo">Cursos:</h3>
          <div *ngIf="curso != ''">
            <div *ngIf="curso[0].nombre === 'VALENCIANO C1'">
              <a class="perfilCursos" routerLink="/cursos/valenciano/c1/reproductor">
                <p>{{curso[0].nombre}}</p>
              </a>
            </div>
            <div *ngIf="curso[0].nombre === 'VALENCIANO C2'">
              <a class="perfilCursos" routerLink="/cursos/valenciano/c2/reproductor">
                <p>{{curso[0].nombre}}</p>
              </a>
            </div>
            <div *ngIf="curso[0].nombre === 'VALENCIANO INTENSIVO JQCV'">
              <a class="perfilCursos" routerLink="/cursos/valenciano/intensivos/curso-intensivo/jqcv/reproductor">
                <p>{{curso[0].nombre}}</p>
              </a>
            </div>
            <div *ngIf="curso[0].nombre === 'VALENCIANO INTENSIVO CIEACOVA'">
              <a class="perfilCursos" routerLink="/cursos/valenciano/intensivos/curso-intensivo/cieacova/reproductor">
                <p>{{curso[0].nombre}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
