<div class="contenedor-container">
  <div class="contenedor-preview m8">
    <div class="info">
      <h3>Información de Usuario</h3>
      <img src="assets/img/usuario.png"/>
      <h5>Nombre:</h5>
      <p>{{userProfile.nombre}}</p>
      <h5>Apellidos:</h5>
      <p>{{userProfile.apellido1}} {{userProfile.apellido2}}</p>
      <h5>Usuario:</h5>
      <p>{{userProfile.nombreUsuario}}</p>
      <h5>Correo:</h5>
      <p>{{userProfile.correo}}</p>
      <h5>Fecha de Nacimiento</h5>
      <p>{{userProfile.fechaNacimiento | date: 'dd/MM/yyyy'}}</p>
    </div>

    <div class="datos">
      <div class="datosHeader">
        <div class="datosHeader-notificaciones">
          <!--TODO: NOTIFICACIONES-->
        </div>
        <div class="datosHeader-calendario">
          <!--TODO: CALENDARIO-->
        </div>
      </div>
      <div class="datosBody">
        <div class="curso">
          <h3 class="curso-titulo">Cursos:</h3>
          <a *ngIf="cursos" routerLink="/curso-valenciano-comprado">
            <p class="p2">Ir al Curso de Valenciano C1</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
