<div class="contenedor-container">
  <h2 class="p4">
    {{cookies}}
  </h2>
  <p class="p2">
    {{desc1_1}}
  </p>
  <h3 class="p4">
    {{que_son}}
  </h3>
  <p class="p2">
    {{desc2_1}}
  </p>
  <p class="p2">
    {{desc2_2}}
  </p>
  <p class="p2">
    {{desc2_3}}
  </p>
  <p class="subtitle p2">
    {{tipos}}
  </p>
  <p class="p4">
    {{desc2_4}}
  </p>
  <p class="p4">
    {{desc2_5}}
  </p>
  <p class="p4">
    {{desc2_6}}
  </p>
  <p class="p4">
    {{desc2_7}}
  </p>
  <p class="p4">
    {{desc2_8}}
  </p>
  <p class="p4">
    {{desc2_9}}
  </p>
  <p class="p4">
    {{desc2_10}}
  </p>
  <p class="p4">
    {{desc2_11}}
  </p>
  <p class="p4">
    {{desc2_12}}
  </p>
  <p class="p4">
    {{desc2_13}}
  </p>
  <p class="p2">
    {{desc2_14}}
  </p>
  <h3 class="p4">
    {{tratamiento}}
  </h3>
  <p class="p2">
    {{desc3_1}}
  </p>
  <p class="p2">
    {{desc3_2}}
  </p>
  <p class="p2">
    {{desc3_3}}
  </p>
  <p class="p2">
    {{desc3_4}}
  </p>
  <p class="p2">
    {{desc3_5}}
  </p>
  <p class="p2">
    {{desc3_6}}
  </p>
  <p class="p2">
    {{desc3_7}}
  </p>
  <h3 class="p4">
    {{utilizadas}}
  </h3>
  <p class="subtitle p2">
    {{editor}}
  </p>
  <p class="p2">
    {{desc4_1}}
  </p>
  <p class="subtitle p2">
    {{terceros}}
  </p>
  <p class="p2">
    {{desc5_1}}
  </p>
  <p class="p2">
    {{desc5_2}}
  </p>
  <p class="subtitle p2">
    {{panel}}
  </p>
  <p class="p2">
    {{desc6_1}}
  </p>
  <p class="subtitle p2">
    {{navegador}}
  </p>
  <p class="p2">
    {{desc7_1}}
  </p>
  <p class="p2">
    {{desc7_2}}
  </p>
  <p class="p2">
    {{desc7_3}}
  </p>
  <p class="subtitle p2">
    {{eliminar}}
  </p>
  <p class="p2">
    {{desc8_1}}
  </p>
  <p class="p2">
    {{desc8_2}}
  </p>
  <p class="p2">
    {{desc8_3}}
  </p>
  <p class="p2">
    {{desc8_4}}
  </p>
  <p class="p2">
    {{desc8_5}}
  </p>
</div>
