<div class="nosotros">
  <div class="nosotros-contenedor">
    <div class="academia">
      <h3>¿QUIÉNES SOMOS?</h3>
      <p>Arrova Academia somos un grupo de profesionales del mundo de la educación que buscamos mejorar el futuro de las personas ofreciendo la posibilidad de formarse en los ámbitos que necesitan. Por eso, buscamos dar una atención personalizada a nuestros alumnos, además de ser un punto de apoyo y guía para que así el camino hacia el aprendizaje sea más efectivo.</p>
      <p>La formación que ofrecemos parte de una metodología propia, constituida y consolidada a lo largo del tiempo y de la experiencia, principal garantía del éxito en nuestros estudiantes.</p>
      <h3>¿QUÉ HACEMOS?</h3>
      <p>Somos una empresa dedicada a la formación en diferentes ámbitos académicos, entre ellos destacan las pruebas de certificación de conocimientos del valenciano. También ofrecemos la preparación de las pruebas de acceso a ciclos formativos, tanto de grado medio como de grado superior, como de la universidad en las diferentes modalidades. Somos también un centro especializado en la preparación y obtención de títulos de graduado tanto en ESO como en Bachillerato para mayores de 20 años.</p>
      <p>Esta formación se ofrece de forma individual y en línea, aunque también existe la posibilidad de ofrecer una formación mixta por grupos, de manera que éstos tendrían la opción de tener clases presenciales, aunque al mismo tiempo tendrían acceso a nuestra plataforma web como complemento de la formación presencial, donde tendrían acceso a todos los materiales, vídeos y actividades que ofrecemos al alumnado.</p>
      <p>Nuestro equipo de profesionales también puede ofrecer un asesoramiento lingüístico a las empresas e instituciones donde impartimos docencia, garantizando así, al máximo posible, la corrección y el buen uso de la lengua.</p>
      <p>Nuestra tarea no constituye una cuestión únicamente de transmisión de conocimientos, ya que buscamos ofrecer una tutorización y seguimiento del proceso de aprendizaje y de estudio de nuestros alumnos, para poder garantizar una gestión integral del proceso.</p>
      <h3>REDES SOCIALES</h3>
      <p>Síguenos en nuestras redes sociales para estar a la última.</p>
      <div class="links">
        <a class="enlace" target="_blank" href="https://www.instagram.com/arrovacademia/">
          <h5>INSTAGRAM</h5>
          <i class="fab fa-instagram icon ml3 t2"></i>
        </a>
        <a class="enlace" target="_blank" href="https://m.facebook.com/Arrova-Acad%C3%A8mia-580886109245503/">
          <h5>FACEBOOK</h5>
          <i class="fab fa-facebook icon ml3 t2"></i>
        </a>
        <a class="enlace" target="_blank" href="https://twitter.com/arrovacademia">
          <h5>TWITTER</h5>
          <i class="fab fa-twitter icon ml3 t2"></i>
        </a>
      </div>
    </div>
  </div>
</div>
